claude/cr60_light_BYD_SingleFreqPoint_dp/BYD/project/cr60_light_BYD_SingleFreqPoint_dp.zip filter=lfs diff=lfs merge=lfs -text
claude/cr60_light_BYD_SingleFreqPoint_dp/BYD/project/xxx.zip filter=lfs diff=lfs merge=lfs -text
